:root{
    --main-container-bg-color: #5585C0;
    --anime-container-bg-color: #FBFBFA;
}

.home_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-container-bg-color);
}
.anime_container{
    background-color: var(--anime-container-bg-color);
}
.home_img{
  
    background-size:contain;
    width: 100px;
  
}
h1{
    font-family: "28dayslatercyr.ttf";
}